@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap);
@import "tailwindcss/preflight"
@tailwind utilities;

* {
	margin: 0;
  padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

body {
	overflow-x: hidden;
  overflow-y: hidden;
}

@media(max-width: 430px) {
  body {
    overflow-y: auto;
  }
}
